@font-face {
    font-family: 'RobotoLI';
    src: url(./assets/fonts/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: 'RobotoCite';
    src: url(./assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'RobotoRegular';
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1% 25%;
    background-color: #1f2937;
}


.nav-links{
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.logo a{
    font-size: 24px;
    color: #F9FAF8;
}

.nav-links a{
    text-decoration: none;
}

ul{
    font-size: 18px;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

li a{
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}


h1{
    font-size: 48px;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #F9FAF8;
}

p{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
    color: #E5E7EB;
}

img{
    width: 280px;
    object-fit: cover;
}

.btn{
    padding: 8px;
    background-color: #3882F6;
    color: whitesmoke;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.1);
}


h2 {
    font-size: 36px;
    font-weight: bold;
    font-family: 'RobotoCite';
    color: #1F2937;
    text-align: center;
}

.info-article-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'RobotoRegular';
    color: #1F2937;
    text-align: center;
    height: 200px;
    width: 150px;
}

.info-article-container img {
    height: 60%;

}

.info-article-container p {
    height: 40%;
}

.info-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.info-img {
    height: 150px;
    width: 100px;
    border: 3px solid #3882F6;
    border-radius: 5%;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 8% 0;
}

blockquote {
    width: 65%;
}

blockquote p {
    font-size: 36px;
    font-family: 'RobotoLI', sans-serif;
    color: #1F2937;
    margin: 0;
}

blockquote footer {
    text-align: right;
}

blockquote footer cite{
    font-size: 24px;
    font-family:'RobotoCite', sans-serif ;
    font-style: normal;
    font-weight: bold;
}

.call-to-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7% 0;
}

.call-to-action{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3882F6;
    width: 50%;
    padding: 3% 6%;
    border-radius: 5px;
}

.call-to-action h3 {
    color: #E5E7EB;
    margin: 0;
    font-family: 'RobotoRegular', sans-serif;
}

.call-to-action p {
    color: #E5E7EB;
    margin: 0;
    font-family: 'RobotoRegular', sans-serif;
}

.action-button {
    align-self: center;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    border-color: #E5E7EB;
    color: #E5E7EB;
    padding: 6px 30px;
    font-family: 'RobotoCite', sans-serif;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    margin: 0;
    color: #E5E7EB;
    font-family: 'RobotoRegular', sans-serif;
    min-height: 10vh;
}
