@font-face {
    font-family: 'RobotoLI';
    src: url(../assets/fonts/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: 'RobotoCite';
    src: url(../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'RobotoRegular';
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%; /* 1rem = 16px */
}

.header {
    background-color: #1F2937;
    padding: 1.25rem 0; 
}

.nav-container {
    width: 80%;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container a {
    text-decoration: none;
}

.logo {
    font-size: 1.5rem;
    font-family: 'RobotoRegular', sans-serif;
    color: #F9FAF8;
}

.nav {
    display: flex;
    gap: 1.25rem; 
}

.nav a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 1.125rem;
    font-family: 'RobotoRegular', sans-serif;
}

.nav a:hover {
    color: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    position: relative; 
    height: 100vh;
    width: 100%;
    overflow: hidden; 
}

.main-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../assets/images/signupBackground.jpeg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: -1; 
}

.signup-container {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 25px;
    margin: 0 auto;
}

.signup-item-text {
    background-color: rgba(229, 231, 235, 0.8);
    border-radius: 15px;
    width: 55%;
    height: 100%;
}

.signup-item-form {
    background-color: rgba(229, 231, 235, 0.8);
    border-radius: 15px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 1rem;
}

.signup-item-text h1,
h2 {
    font-size: 3rem;
    font-family: 'RobotoCite', sans-serif;
    font-weight: bold;
    margin-bottom: 0.625rem;
    color: #1F2937;
    padding: 10px;
}

.signup-item-text h2 {
    font-size: 1.5rem;
    color: #3882F6;
}

.signup-item-text p {
    font-size: 1.125rem;
    font-family: 'RobotoRegular', sans-serif;
    color: #1F2937;
    padding: 10px;
}

#termsContainer {
    display: flex;
    align-items: center;
}

#terms {
    margin-right: 0.5rem;
    width: .85rem;
    cursor: pointer;
    background-color: rgba(229, 231, 235, 0.8);
}

#termslabel {
    font-family: 'RobotoCite', sans-serif;
    font-weight: lighter;
    font-size: small;
    margin-left: 1px;
    margin: 10px 0;
}

.signup-item-form input {
    padding: 3%;
    margin: 10px 0;
    width: 70%;
    height: 2rem;
    border-radius: 4px;
    background-color: rgba(229, 231, 235, 0.8);
}

.signup-item-form select {
    padding: 3%;
    margin: 10px 0;
    width: 8rem;
    border-radius: 4px;
    background-color: rgba(229, 231, 235, 0.8);
}

/* .signup-item-form div {
    width: 55%;
} */

.signup-item-form label {
    font-family: 'RobotoCite', sans-serif;
    font-weight: bold;
    color: #1F2937;
}

.action-button {
    cursor: pointer;
    width: 40%;
    background-color: #3882F6;
    border: 2px solid #3882F6;
    border-radius: 5px;
    color: #E5E7EB;
    padding: 6px 30px;
    margin: 10px 0;
    font-family: 'RobotoCite', sans-serif;
    transition-duration: 0.4s;
}

.action-button:hover {
    background-color: #86b1f7;
    border: 2px solid #86b1f7;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    margin: 0;
    color: #E5E7EB;
    font-family: 'RobotoRegular', sans-serif;
    min-height: 10vh;
}

/* Hamburger styles */

.menu-toggle {
    display: none;
}

.hamburger-icon {
    display: none;
    flex-direction: column;
    gap: 0.25rem;
    cursor: pointer;
    z-index: 10;
}

.hamburger-icon span {
    width: 25px;
    height: 3px;
    background-color: #E5E7EB;
    border-radius: 2px;
    transition: transform 0.3s, opacity 0.3s;
}

/* Media query for screens below 1000px */
@media (max-width: 1000px) {
    .content-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-content {
        max-width: 100%;
    }

    .content-image-placeholder {
        width: 100%;
        height: auto;
    }

    .content-image-placeholder img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
    
    .signup-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .signup-item-form {
        justify-items: center;
        width: 70%;
    }
    .signup-item-text {
        width: 70%;
    }

    .action-button{
        width: 100%;
    }
}

@media (max-width: 480px) {

    .hamburger-icon {
        display: flex;
    }

    .nav {
        display: none;
        position: absolute;
        top: 4rem;
        right: 1rem;
        background-color: #1a1a2e;
        padding: 1rem;
        border-radius: 0.5rem;
        flex-direction: column;
        gap: 1rem;
        z-index: 10;
    }

    .menu-toggle:checked+.hamburger-icon+.nav {
        display: flex;
    }

    .menu-toggle:checked+.hamburger-icon span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle:checked+.hamburger-icon span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle:checked+.hamburger-icon span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .signup-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .signup-item-text {
        width: 90%;
    }
    .signup-item-form {
        width: 90%;
    }
}